.logo-login {
    width: 200px;      /* ajusta a tu gusto */
    height: auto;      /* mantiene proporciones */
    display: block;
    margin: 0 auto;    /* centrado */
}

.card-body canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}
